.beliefslidercontainer {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 3%;
}

.beliefslider {
  appearance: none;
  width: 60%; 
  height: 25px; 
  background: #d3d3d3;
  border-radius: 10px;
  opacity: 0.7; 
  transition: opacity .2s;
  outline: none;
}

.beliefslider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: grey;
  cursor: pointer;
}

.belieftitles {
  width: 60%;
  display: flex;
  justify-content: space-between;
  margin-left: 20%;
  color:#CC5500;
  margin-bottom: -0.5%;
}

.belieftitlestable {
  width: 95%;
  display: flex;
  justify-content: space-between;
  margin-bottom: -2%
}

.qmark {
  background-image: url('./qmark.png');
  background-size: 20px 20px;
  border-radius: 20px;
  border: none;
  transition-duration: 0.2s;
  cursor: pointer;
  display: inline-flex;
  height: 20px;
  width: 20px;
}

.qmark1 {
  background-image: url('./qmark.png');
  background-size: 15px 15px;
  border-radius: 15px;
  border: none;
  transition-duration: 0.2s;
  cursor: pointer;
  display: inline-flex;
  height: 15px;
  width: 15px;
}

.qmark:hover .tooltiptext {
  visibility: visible;
}

.qmark1:hover .tooltiptext {
  visibility: visible;
}

.slider {
  width: 95%;
}

.table {
  width: 60%;
  border-color: #d3d3d3;
  font-size: smaller
}

.tablecontainer {
  display: flex;
  justify-content: center;
}

.tableheader {
  color: #CC5500;
  font-size: small;
}

td, th {
  text-align: left;
}

.toptext {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: #CC5500;
  margin-top: 1%;
  font-size: larger;
}

.tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: #d3d3d3;
  color: #CC5500;
  text-align: center;
  padding: 5px;
  border-radius: 6px;
  font-size: smaller;
  text-align: left;
 
  position: absolute;
  z-index: 1;
}